nav(class="navbar navbar-expand-md navbar-dark fixed-top bg-dark")
	a(
		class="navbar-brand" 
		href="#"
	)
		=data.base.userData.username
	button(
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault"
		aria-expanded="false"
		aria-label="Toggle navigation"
	)
		span(class="navbar-toggler-icon")

	div(
		class="collapse navbar-collapse"
		id="navbarsExampleDefault"
	)
		ul(class="navbar-nav mr-auto")
			li(class="nav-item active")
				a(
					class="nav-link"
					href=data.site.tab1Path
				)
					=data.site.tab1Name

			li(class="nav-item active")
				a(
					class="nav-link"
					href=data.site.tab2Path
				)
					=data.site.tab2Name

			li(class="nav-item active")
				a(
					class="nav-link"
					href=data.site.tab3Path
				)
					=data.site.tab3Name

			li(class="nav-item active")
				a(
					class="nav-link"
					href=data.site.tab4Path
				)
					=data.site.tab4Name