html
	head
		include includes/head.pug

	body

		include includes/navbar.pug

		main(role="main" class="container")

			div(class="container")

				div(class="row")
				
					div(class="col-lg-3")

						h3 Combat Statistics

						p
							b Health Points: 
							= data.base.character.stats.HP + " / " + data.base.character.stats.maxHP

						p
							b Armor Class: 
							= data.base.character.stats.armorClass
						
						p
							b Speed: 
							= data.calculated.speed
							
						p
							b Initiative Bonus: 
							- if (data.calculated.initiative >= 0)
								= "+" 
							= data.calculated.initiative
							
						p
							b Spell Attack Bonus: 
							= "+" + data.calculated.spellAttackBonus
							
						p
							b Spell Save DC: 
							= data.calculated.spellSaveDC
						
						- if (data.base.character.class == "bard")
							p
								b Bardic Inspiration: 
								= data.base.character.bard.bardicInspiration + " / " + data.calculated.bard.maxBardicInspiration
								= " (" + data.calculated.bard.bardicInspirationDie + ")"

						br
						
						h3 Spell Slots

						- if (data.calculated.maxSpellSlots.level1 > 0)
							p
								b 1st Level: 
								= data.base.character.spellSlots.level1 + " / " + data.calculated.maxSpellSlots.level1

						- if (data.calculated.maxSpellSlots.level2 > 0)
							p
								b 2nd Level: 
								= data.base.character.spellSlots.level2 + " / " + data.calculated.maxSpellSlots.level2

						- if (data.calculated.maxSpellSlots.level3 > 0)
							p
								b 3rd Level: 
								= data.base.character.spellSlots.level3 + " / " + data.calculated.maxSpellSlots.level3

						- if (data.calculated.maxSpellSlots.level4 > 0)
							p
								b 4th Level: 
								= data.base.character.spellSlots.level4 + " / " + data.calculated.maxSpellSlots.level4

						- if (data.calculated.maxSpellSlots.level5 > 0)
							p
								b 5th Level: 
								= data.base.character.spellSlots.level5 + " / " + data.calculated.maxSpellSlots.level5

						- if (data.calculated.maxSpellSlots.level6 > 0)
							p
								b 6th Level: 
								= data.base.character.spellSlots.level6 + " / " + data.calculated.maxSpellSlots.level6

						- if (data.calculated.maxSpellSlots.level7 > 0)
							p
								b 7th Level: 
								= data.base.character.spellSlots.level7 + " / " + data.calculated.maxSpellSlots.level7

						- if (data.calculated.maxSpellSlots.level8 > 0)
							p
								b 8th Level: 
								= data.base.character.spellSlots.level8 + " / " + data.calculated.maxSpellSlots.level8

						- if (data.calculated.maxSpellSlots.level9 > 0)
							p
								b 9th Level: 
								= data.base.character.spellSlots.level9 + " / " + data.calculated.maxSpellSlots.level9

		

					div(class="col-lg-9")

						h3 Equipped Armor

						div(class="table-responsive")

							table(class="table table-striped table-sm")
								thead
									tr
										th Item 
										th Armor Type 
										th Armor Class
										th Stealth
										//th Equipped
								- for (var i = 0; i < data.calculated.inventory.length; i++) 
									if (data.calculated.inventory[i].type == 'Armor' && data.calculated.inventory[i].equipped)
										tr
											td= data.calculated.inventory[i].item
											td= data.calculated.inventory[i].subtype
											td= data.calculated.inventory[i].armorClass
											td= data.calculated.inventory[i].stealth
											//td= data.calculated.inventory[i].equipped

						br

						h3 Equipped Weapons

						div(class="table-responsive")

							table(class="table table-striped table-sm")
								thead
									tr
										th Item 
										th Weapon Type 
										th Damage
										th Properties
										//th Equipped
								- for (var i = 0; i < data.calculated.inventory.length; i++) 
									if (data.calculated.inventory[i].type == 'Weapon' && data.calculated.inventory[i].equipped)
										tr
											td= data.calculated.inventory[i].item
											td= data.calculated.inventory[i].subtype
											td= data.calculated.inventory[i].damage
											td= data.calculated.inventory[i].properties
											//td= data.calculated.inventory[i].equipped											

						br

						h3 Ammunition

						div(class="table-responsive")

							table(class="table table-striped table-sm")
								thead
									tr
										th Item 
										th Quantity 
								- for (var i = 0; i < data.calculated.inventory.length; i++) 
									if (data.calculated.inventory[i].subtype == 'Ammunition')
										tr
											td= data.calculated.inventory[i].item
											td= data.calculated.inventory[i].qty										

						br

						h3 Spells
						
						- for (var i = 0; i < data.calculated.spells.length; i++)
							p
								a(
									class="btn"
									data-toggle="collapse"
									href="#collapse"+i
									role="button"
									aria-expanded="false"
									aria-controls="collapse"+i
								)
									= "+"
								b= data.calculated.spells[i].spell

							div(
								class="collapse"
								id="collapse"+i
							)
								div(class="card card-body")

									p
										em= "Level " + data.calculated.spells[i].level + " " +  data.calculated.spells[i].school

									div(class="table-responsive")

										table(class="table table-striped table-sm")
											thead
												tr
													th Casting Time
													th Range
													th Components
													th Duration
												tr
													td= data.calculated.spells[i].castingTime 
													td= data.calculated.spells[i].range
													td= data.calculated.spells[i].components	
													td= data.calculated.spells[i].duration

									p
										b Description:  
										=  data.calculated.spells[i].description
										
									p
										b At Higher Levels:  
										=  data.calculated.spells[i].higherLevelDescription
								

		include includes/bootjs.pug

